<% results.forEach(result => { %>
 <h4><%= result.name %></h4>

 <p>mass: <%= result.mass %></p>

 <p>height: <%= result.height %></p>

 <!-- <a href="/swapi/homeworld/<%= result.homeworld %>"> homeworld </a> -->
<% }) %>